<div class="page-content">

  <!-- Heading -->
  <div class="single-head">
    <!-- Heading -->
    <h3 class="pull-left">
      <i class="fa fa-users lblue"></i> Users</h3>
    <!-- Bread crumbs -->
    <div class="breads pull-right">
      <strong>Nav</strong> :
      <a href="#">Home</a> /
      <a href="#">Sign</a> / Home
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Users page -->
  <div class="page-users">
    <!-- Nav tab -->
    <div class="page-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li>
          <div class="input-group">

            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <input @search class="form-control" [formControl]="searchControl" placeholder="Search..." type="text">
          </div>

        </li>
        <li>
          <a routerLink="/add-new-user" class="br-green" data-toggle="tab">
            <i class="fa fa-plus green"></i> Add New</a>
        </li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active in" id="ausers">

          <app-users-list [users]="users"></app-users-list>
          <app-pagination [quantityOfUsers]='users?.length'></app-pagination>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</div>