<div class="page-content">

  <!-- Heading -->
  <div class="single-head">
    <!-- Heading -->
    <h3 class="pull-left">
      <i class="fa fa-users lblue"></i> Users</h3>
    <!-- Bread crumbs -->
    <div class="breads pull-right">
      <strong>Nav</strong> :
      <a href="#">Home</a> /
      <a href="#">Sign</a> / Home
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Users page -->
  <div class="page-users">
    <!-- Nav tab -->
    <div class="page-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <!-- <li class="active">
          <a href="#ausers" class="br-lblue" data-toggle="tab">
            <i class="fa fa-user lblue"></i> Users</a>
        </li> -->
        <li>
          <a routerLink="/add-new-user" class="br-green" data-toggle="tab">
            <i class="fa fa-plus green"></i> Add New</a>
        </li>
        <li>
          <a class="br-green" style="cursor: pointer" data-toggle="tab" (click)="isSearchBarShown = !isSearchBarShown" *ngIf="!isSearchBarShown">
            <i class="fa fa-search green"></i> Search</a>

        </li>
        <li *ngIf="isSearchBarShown">
          <a href="#addnew" class="br-green" data-toggle="tab" id="aSearch">
            <i class="fa fa-search green"></i>
          </a>

        </li>
        <li class="liSearch" *ngIf="isSearchBarShown">

          <input @search id="userSearch" [formControl]="searchControl" placeholder="Search...">

        </li>
      </ul>

      <div class="tab-content"> 
        <div class="tab-pane fade active in" id="ausers">

          <app-users-list [users]="users"></app-users-list>
          <app-pagination [quantityOfUsers]='users?.length'></app-pagination>
      
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</div>