<div class="col-md-2 col-sm-6 col-xs-6 col-mob">
    <!-- Knob item -->
    <div class="knob-item">
      <!-- Heading -->
      <h4>Today's Visitors</h4>
      <!-- Knob circle -->
      <input type="text" value="85" class="knob" data-fgColor="#f75353" data-angleArc="250" data-angleOffset="-125" data-bgColor="#e8e8e8"
        data-width="110" data-thickness=".1">
    </div>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
    <div class="knob-item">
      <h4>Today's Profit</h4>
      <input type="text" value="65" class="knob" data-fgColor="#32c8de" data-angleArc="250" data-angleOffset="-125" data-bgColor="#e8e8e8"
        data-width="110" data-thickness=".1">
    </div>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
    <div class="knob-item">
      <h4>Bounce Rate</h4>
      <input type="text" value="35" class="knob" data-fgColor="#51d466" data-angleArc="250" data-angleOffset="-125" data-bgColor="#e8e8e8"
        data-width="110" data-thickness=".1">
    </div>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
    <div class="knob-item">
      <h4>Total Members</h4>
      <input type="text" value="75" class="knob" data-fgColor="#cb79e6" data-angleArc="250" data-angleOffset="-125" data-bgColor="#e8e8e8"
        data-width="110" data-thickness=".1">
    </div>
  </div>