<div class="page-content">

  <!-- Heading -->
  <div class="single-head">
    <!-- Heading -->
    <h3 class="pull-left">
      <i class="fa fa-signal lblue"></i> Charts</h3>
    <!-- Bread crumbs -->
    <div class="breads pull-right">
      <strong>Nav</strong> :
      <a href="#">Home</a> /
      <a href="#">Sign</a> / Home
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Chart page -->
  <div class="page-chart">
    <!-- Widget chart -->
    <div class="widget chart-widget">
      <!-- Widget head -->
      <div class="widget-head br-green">
        <h3>
          <i class="fa fa-signal"></i> Curve Chart</h3>
      </div>
      <!-- Widget body -->
      <div class="widget-body">
        <!-- Chart container -->
        <div class="chart-container">
          <div id="curve-chart" class="chart-placeholder"></div>
        </div>
      </div>
    </div>

    <!-- Widget chart -->
    <div class="widget chart-widget">
      <!-- Widget head -->
      <div class="widget-head br-lblue">
        <h3>
          <i class="fa fa-signal"></i> Bar Chart</h3>
      </div>
      <!-- Widget body -->
      <div class="widget-body">
        <!-- Chart container -->
        <div class="chart-container">
          <div id="bar-chart" class="chart-placeholder"></div>
        </div>
      </div>
    </div>

    <!-- Widget chart -->
    <div class="widget chart-widget">
      <!-- Widget head -->
      <div class="widget-head br-red">
        <h3>
          <i class="fa fa-signal"></i> Plot Chart</h3>
      </div>
      <!-- Widget body -->
      <div class="widget-body">
        <!-- Chart container -->
        <div class="chart-container">
          <div id="plot-chart" class="chart-placeholder"></div>
        </div>
      </div>
    </div>

    <!-- Widget chart -->
    <div class="widget chart-widget">
      <!-- Widget head -->
      <div class="widget-head br-orange">
        <h3>
          <i class="fa fa-signal"></i> Real Time Chart</h3>
      </div>
      <!-- Widget body -->
      <div class="widget-body">
        <!-- Chart container -->
        <div class="chart-container">
          <div id="live-chart" class="chart-placeholder"></div>
        </div>
        Time Inverval:
        <input id="updateInterval" type="text" class="form-control" value="">
      </div>
    </div>

    <!-- Widget chart -->
    <div class="widget chart-widget">
      <!-- Widget head -->
      <div class="widget-head br-lblue">
        <h3>
          <i class="fa fa-signal"></i> Pie Chart</h3>
      </div>
      <!-- Widget body -->
      <div class="widget-body">
        <div class="row">
          <div class="col-md-4">
            <!-- Chart container -->
            <div class="chart-container">
              <div id="pie-chart1" class="chart-placeholder"></div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Chart container -->
            <div class="chart-container">
              <div id="pie-chart2" class="chart-placeholder"></div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Chart container -->
            <div class="chart-container">
              <div id="pie-chart3" class="chart-placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page chart end -->
</div>
<!-- page content end -->