<div class="col-md-4">
    <!-- Main area chart -->
    <div class="widget">
      <div class="widget-head br-red">
        <h3>
          <i class="fa fa-desktop"></i> Latest Updates</h3>
      </div>
      <div class="widget-body">
        <!-- Sparkline chart -->
        <div class="m-spark-chart text-center">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div id="spark1"></div>
              <!-- Chart details -->
              <h5>1200 Visitors</h5>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div id="spark2"></div>
              <!-- Chart details -->
              <h5>5000 Members</h5>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div id="spark3"></div>
              <!-- Chart details -->
              <h5>8000 Bounce </h5>
            </div>
          </div>
        </div>
        <hr />
        <!-- Pie chart -->
        <div class="m-pie-chart">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <!-- Pie chart placeholder -->
              <div id="m-pie-chart"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <!-- Pie chart info -->
              <ul class="list-unstyled">
                <li>
                  <span class="badge badge-danger">5</span> &nbsp;
                  <strong>Today's Revenue</strong>
                </li>
                <li>
                  <span class="badge badge-success">8</span> &nbsp;
                  <strong>Yesterday's Profit</strong>
                </li>
                <li>
                  <span class="badge badge-info">4</span> &nbsp;
                  <strong>Monday's Visitors</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>