<div class="current-status">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6">
        <!-- Current status item -->
        <div class="current-status-item">
          <!-- Icon 
                        <i class="fa fa-user lblue"></i> -->
          <!-- Heading -->
          <h6>Profit</h6>
          <h3>$50,000
            <span class="fa fa-arrow-circle-up green"></span>
          </h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <!-- Current status item -->
        <div class="current-status-item">
          <!-- Icon 
                        <i class="fa fa-bar-chart-o lblue"></i> -->
          <!-- Heading -->
          <h6>Revenue</h6>
          <h3>55.89%
            <span class="fa fa-arrow-circle-down red"></span>
          </h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- Current status item -->
        <div class="current-status-item">
          <!-- Heading -->
          <h6>Customers</h6>
          <h3>11,000
            <span class="fa fa-arrow-circle-up lblue"></span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6">
        <!-- Current status item -->
        <div class="current-status-item">
          <!-- Icon 
                        <i class="fa fa-user lblue"></i> -->
          <!-- Heading -->
          <h6>Bounce Rate</h6>
          <h3>30.07%
            <span class="fa fa-arrow-circle-down lblue"></span>
          </h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <!-- Current status item -->
        <div class="current-status-item">
          <!-- Icon 
                        <i class="fa fa-bar-chart-o lblue"></i> -->
          <!-- Heading -->
          <h6>Visitors</h6>
          <h3>25,000
            <span class="fa fa-arrow-circle-up green"></span>
          </h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- Current status item -->
        <div class="current-status-item">
          <!-- Heading -->
          <h6>Orders</h6>
          <h3>5,000
            <span class="fa fa-arrow-circle-down red"></span>
          </h3>
        </div>
      </div>
    </div>
  </div>