<div class="tab-pane fade active in" id="addnew">

  <h4>Add New User</h4>

  <form [formGroup]="newUserControlGroup" class="form-horizontal" role="form" (ngSubmit)="onSubmitNewUser()">
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <input formControlName="name" type="text" class="form-control" placeholder="Name">
        <span *ngIf="!newUserControlGroup.get('name').valid && newUserControlGroup.get('name').touched " class="help-block alert alert-danger">Please enter a valid Name</span>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="col-md-2 control-label">User Name</label>
      <div class="col-md-10">
        <input formControlName="userName" type="text" class="form-control" placeholder="User Name">
        <span *ngIf="!newUserControlGroup.get('userName').valid && newUserControlGroup.get('userName').touched " class="help-block alert alert-danger">Please enter a valid User Name</span>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Email</label>
      <div class="col-md-10">
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
        <span *ngIf="!newUserControlGroup.get('email').valid && newUserControlGroup.get('email').touched " class="help-block alert alert-danger">Please enter a valid Email</span>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Password</label>
      <div class="col-md-10">
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
        <span *ngIf="!newUserControlGroup.get('password').valid && newUserControlGroup.get('password').touched " class="help-block alert alert-danger">Please enter a valid Password</span>
      </div>
    </div>


    <div class="form-group">
      <label for="radio" class="col-md-2 control-label">Role</label>
      <div class="col-md-10">
        <label class="radio-inline" *ngFor="let gender of ['Moderator', 'Admin', 'User']">
          <input formControlName="role" type="radio" value="{{gender}}">{{gender}}
        </label>

      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary" [disabled]="!newUserControlGroup.valid" [title]="newUserControlGroup.valid ? 'Click to submit the form' : 'Please fill the form above'">Add</button>
        <button type="reset" class="btn btn-default" (click)="resetAddNewUserForm()" title="Click to reset the form">Reset</button>
        <button type="reset" class="btn btn-default" title="Click to cancel">Cancel</button>
        <span class="alert alert-success">You successfully added a new user!</span>
   
      </div>

    </div>

  </form>


  <!-- <form [formGroup]="newUserControlGroup" class="form-horizontal" role="form" (ngSubmit)="onSubmitNewUser()">
    <div class="form-group" formArrayName="newUser" *ngFor="let input of newUserControlGroup['controls'].newUser['controls']; index as i">
      <label for="name" class="col-md-2 control-label">{{inputsTitles[i]}}</label>
      <div class="col-md-10">
        <input formControlName="{{i}}" type="text" class="form-control" placeholder="Name">
        <span *ngIf="!newUserControlGroup.get('newUser').controls[i].valid && newUserControlGroup.get('newUser').controls[i].touched "
          class="help-block alert alert-danger">Please enter a valid {{inputsTitles[i]}} </span>
      </div>
    </div>
  </form> -->
</div>